html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.hw-serif{font-family:serif}.hw-sans-serif{font-family:sans-serif}.hw-cursive{font-family:cursive}.hw-monospace{font-family:monospace}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.hw-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.hw-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.hw-table,.hw-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.hw-table-all{border:1px solid #ccc}
.hw-bordered tr,.hw-table-all tr{border-bottom:1px solid #ddd}.hw-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.hw-table-all tr:nth-child(odd){background-color:#fff}.hw-table-all tr:nth-child(even){background-color:#f1f1f1}
.hw-hoverable tbody tr:hover,.hw-ul.hw-hoverable li:hover{background-color:#ccc}.hw-centered tr th,.hw-centered tr td{text-align:center}
.hw-table td,.hw-table th,.hw-table-all td,.hw-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.hw-table th:first-child,.hw-table td:first-child,.hw-table-all th:first-child,.hw-table-all td:first-child{padding-left:16px}
.hw-btn,.hw-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.hw-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.hw-btn,.hw-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.hw-disabled,.hw-btn:disabled,.hw-button:disabled{cursor:not-allowed;opacity:0.3}.hw-disabled *,:disabled *{pointer-events:none}
.hw-btn.hw-disabled:hover,.hw-btn:disabled:hover{box-shadow:none}
.hw-badge,.hw-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.hw-badge{border-radius:50%}
.hw-ul{list-style-type:none;padding:0;margin:0}.hw-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.hw-ul li:last-child{border-bottom:none}
.hw-tooltip,.hw-display-container{position:relative}.hw-tooltip .hw-text{display:none}.hw-tooltip:hover .hw-text{display:inline-block}
.hw-ripple:active{opacity:0.5}.hw-ripple{transition:opacity 0s}
.hw-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.hw-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.hw-dropdown-click,.hw-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.hw-dropdown-hover:hover .hw-dropdown-content{display:block}
.hw-dropdown-hover:first-child,.hw-dropdown-click:hover{background-color:#ccc;color:#000}
.hw-dropdown-hover:hover > .hw-button:first-child,.hw-dropdown-click:hover > .hw-button:first-child{background-color:#ccc;color:#000}
.hw-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.hw-check,.hw-radio{width:24px;height:24px;position:relative;top:6px}
.hw-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.hw-bar-block .hw-dropdown-hover,.hw-bar-block .hw-dropdown-click{width:100%}
.hw-bar-block .hw-dropdown-hover .hw-dropdown-content,.hw-bar-block .hw-dropdown-click .hw-dropdown-content{min-width:100%}
.hw-bar-block .hw-dropdown-hover .hw-button,.hw-bar-block .hw-dropdown-click .hw-button{width:100%;text-align:left;padding:8px 16px}
.hw-main,#main{transition:margin-left .4s}
.hw-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.hw-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.hw-bar{width:100%;overflow:hidden}.hw-center .hw-bar{display:inline-block;width:auto}
.hw-bar .hw-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.hw-bar .hw-dropdown-hover,.hw-bar .hw-dropdown-click{position:static;float:left}
.hw-bar .hw-button{white-space:normal}
.hw-bar-block .hw-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.hw-bar-block.hw-center .hw-bar-item{text-align:center}.hw-block{display:block;width:100%}
.hw-responsive{display:block;overflow-x:auto}
.hw-container:after,.hw-container:before,.hw-panel:after,.hw-panel:before,.hw-row:after,.hw-row:before,.hw-row-padding:after,.hw-row-padding:before,
.hw-cell-row:before,.hw-cell-row:after,.hw-clear:after,.hw-clear:before,.hw-bar:before,.hw-bar:after{content:"";display:table;clear:both}
.hw-col,.hw-half,.hw-third,.hw-twothird,.hw-threequarter,.hw-quarter{float:left;width:100%}
.hw-col.s1{width:8.33333%}.hw-col.s2{width:16.66666%}.hw-col.s3{width:24.99999%}.hw-col.s4{width:33.33333%}
.hw-col.s5{width:41.66666%}.hw-col.s6{width:49.99999%}.hw-col.s7{width:58.33333%}.hw-col.s8{width:66.66666%}
.hw-col.s9{width:74.99999%}.hw-col.s10{width:83.33333%}.hw-col.s11{width:91.66666%}.hw-col.s12{width:99.99999%}
@media (min-width:601px){.hw-col.m1{width:8.33333%}.hw-col.m2{width:16.66666%}.hw-col.m3,.hw-quarter{width:24.99999%}.hw-col.m4,.hw-third{width:33.33333%}
.hw-col.m5{width:41.66666%}.hw-col.m6,.hw-half{width:49.99999%}.hw-col.m7{width:58.33333%}.hw-col.m8,.hw-twothird{width:66.66666%}
.hw-col.m9,.hw-threequarter{width:74.99999%}.hw-col.m10{width:83.33333%}.hw-col.m11{width:91.66666%}.hw-col.m12{width:99.99999%}}
@media (min-width:993px){.hw-col.l1{width:8.33333%}.hw-col.l2{width:16.66666%}.hw-col.l3{width:24.99999%}.hw-col.l4{width:33.33333%}
.hw-col.l5{width:41.66666%}.hw-col.l6{width:49.99999%}.hw-col.l7{width:58.33333%}.hw-col.l8{width:66.66666%}
.hw-col.l9{width:74.99999%}.hw-col.l10{width:83.33333%}.hw-col.l11{width:91.66666%}.hw-col.l12{width:99.99999%}}
.hw-rest{overflow:hidden}.hw-stretch{margin-left:-16px;margin-right:-16px}
.hw-content,.hw-auto{margin-left:auto;margin-right:auto}.hw-content{max-width:980px}.hw-auto{max-width:1140px}
.hw-cell-row{display:table;width:100%}.hw-cell{display:table-cell}
.hw-cell-top{vertical-align:top}.hw-cell-middle{vertical-align:middle}.hw-cell-bottom{vertical-align:bottom}
.hw-hide{display:none!important}.hw-show-block,.hw-show{display:block!important}.hw-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.hw-auto{max-width:95%}}
@media (max-width:600px){.hw-modal-content{margin:0 10px;width:auto!important}.hw-modal{padding-top:30px}
.hw-dropdown-hover.hw-mobile .hw-dropdown-content,.hw-dropdown-click.hw-mobile .hw-dropdown-content{position:relative}	
.hw-hide-small{display:none!important}.hw-mobile{display:block;width:100%!important}.hw-bar-item.hw-mobile,.hw-dropdown-hover.hw-mobile,.hw-dropdown-click.hw-mobile{text-align:center}
.hw-dropdown-hover.hw-mobile,.hw-dropdown-hover.hw-mobile .hw-btn,.hw-dropdown-hover.hw-mobile .hw-button,.hw-dropdown-click.hw-mobile,.hw-dropdown-click.hw-mobile .hw-btn,.hw-dropdown-click.hw-mobile .hw-button{width:100%}}
@media (max-width:768px){.hw-modal-content{width:500px}.hw-modal{padding-top:50px}}
@media (min-width:993px){.hw-modal-content{width:900px}.hw-hide-large{display:none!important}.hw-sidebar.hw-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.hw-hide-medium{display:none!important}}
@media (max-width:992px){.hw-sidebar.hw-collapse{display:none}.hw-main{margin-left:0!important;margin-right:0!important}.hw-auto{max-width:100%}}
.hw-top,.hw-bottom{position:fixed;width:100%;z-index:1}.hw-top{top:0}.hw-bottom{bottom:0}
.hw-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.hw-display-topleft{position:absolute;left:0;top:0}.hw-display-topright{position:absolute;right:0;top:0}
.hw-display-bottomleft{position:absolute;left:0;bottom:0}.hw-display-bottomright{position:absolute;right:0;bottom:0}
.hw-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.hw-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.hw-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.hw-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.hw-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.hw-display-container:hover .hw-display-hover{display:block}.hw-display-container:hover span.hw-display-hover{display:inline-block}.hw-display-hover{display:none}
.hw-display-position{position:absolute}
.hw-circle{border-radius:50%}
.hw-round-small{border-radius:2px}.hw-round,.hw-round-medium{border-radius:4px}.hw-round-large{border-radius:8px}.hw-round-xlarge{border-radius:16px}.hw-round-xxlarge{border-radius:32px}
.hw-row-padding,.hw-row-padding>.hw-half,.hw-row-padding>.hw-third,.hw-row-padding>.hw-twothird,.hw-row-padding>.hw-threequarter,.hw-row-padding>.hw-quarter,.hw-row-padding>.hw-col{padding:0 8px}
.hw-container,.hw-panel{padding:0.01em 16px}.hw-panel{margin-top:16px;margin-bottom:16px}
.hw-code,.hw-codespan{font-family:Consolas,"courier new";font-size:16px}
.hw-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.hw-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.hw-card,.hw-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.hw-card-4,.hw-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.hw-spin{animation:hw-spin 2s infinite linear}@keyframes hw-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.hw-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.hw-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.hw-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.hw-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.hw-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.hw-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.hw-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.hw-animate-input{transition:width 0.4s ease-in-out}.hw-animate-input:focus{width:100%!important}
.hw-opacity,.hw-hover-opacity:hover{opacity:0.60}.hw-opacity-off,.hw-hover-opacity-off:hover{opacity:1}
.hw-opacity-max{opacity:0.25}.hw-opacity-min{opacity:0.75}
.hw-greyscale-max,.hw-grayscale-max,.hw-hover-greyscale:hover,.hw-hover-grayscale:hover{filter:grayscale(100%)}
.hw-greyscale,.hw-grayscale{filter:grayscale(75%)}.hw-greyscale-min,.hw-grayscale-min{filter:grayscale(50%)}
.hw-sepia{filter:sepia(75%)}.hw-sepia-max,.hw-hover-sepia:hover{filter:sepia(100%)}.hw-sepia-min{filter:sepia(50%)}
.hw-tiny{font-size:10px!important}.hw-small{font-size:12px!important}.hw-medium{font-size:15px!important}.hw-large{font-size:18px!important}
.hw-xlarge{font-size:24px!important}.hw-xxlarge{font-size:36px!important}.hw-xxxlarge{font-size:48px!important}.hw-jumbo{font-size:64px!important}
.hw-left-align{text-align:left!important}.hw-right-align{text-align:right!important}.hw-justify{text-align:justify!important}.hw-center{text-align:center!important}
.hw-border-0{border:0!important}.hw-border{border:1px solid #ccc!important}
.hw-border-top{border-top:1px solid #ccc!important}.hw-border-bottom{border-bottom:1px solid #ccc!important}
.hw-border-left{border-left:1px solid #ccc!important}.hw-border-right{border-right:1px solid #ccc!important}
.hw-topbar{border-top:6px solid #ccc!important}.hw-bottombar{border-bottom:6px solid #ccc!important}
.hw-leftbar{border-left:6px solid #ccc!important}.hw-rightbar{border-right:6px solid #ccc!important}
.hw-section,.hw-code{margin-top:16px!important;margin-bottom:16px!important}
.hw-margin{margin:16px!important}.hw-margin-top{margin-top:16px!important}.hw-margin-bottom{margin-bottom:16px!important}
.hw-margin-left{margin-left:16px!important}.hw-margin-right{margin-right:16px!important}
.hw-padding-small{padding:4px 8px!important}.hw-padding{padding:8px 16px!important}.hw-padding-large{padding:12px 24px!important}
.hw-padding-16{padding-top:16px!important;padding-bottom:16px!important}.hw-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.hw-padding-32{padding-top:32px!important;padding-bottom:32px!important}.hw-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.hw-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.hw-padding-top-64{padding-top:64px!important}.hw-padding-top-48{padding-top:48px!important}
.hw-padding-top-32{padding-top:32px!important}.hw-padding-top-24{padding-top:24px!important}
.hw-left{float:left!important}.hw-right{float:right!important}
.hw-button:hover{color:#000!important;background-color:#ccc!important}
.hw-transparent,.hw-hover-none:hover{background-color:transparent!important}
.hw-hover-none:hover{box-shadow:none!important}
/* Colors */
.hw-amber,.hw-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.hw-aqua,.hw-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.hw-blue,.hw-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.hw-light-blue,.hw-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.hw-brown,.hw-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.hw-cyan,.hw-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.hw-blue-grey,.hw-hover-blue-grey:hover,.hw-blue-gray,.hw-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.hw-green,.hw-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.hw-light-green,.hw-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.hw-indigo,.hw-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.hw-khaki,.hw-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.hw-lime,.hw-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.hw-orange,.hw-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.hw-deep-orange,.hw-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.hw-pink,.hw-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.hw-purple,.hw-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.hw-deep-purple,.hw-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.hw-red,.hw-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.hw-sand,.hw-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.hw-teal,.hw-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.hw-yellow,.hw-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.hw-white,.hw-hover-white:hover{color:#000!important;background-color:#fff!important}
.hw-black,.hw-hover-black:hover{color:#fff!important;background-color:#000!important}
.hw-grey,.hw-hover-grey:hover,.hw-gray,.hw-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.hw-light-grey,.hw-hover-light-grey:hover,.hw-light-gray,.hw-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.hw-dark-grey,.hw-hover-dark-grey:hover,.hw-dark-gray,.hw-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.hw-pale-red,.hw-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.hw-pale-green,.hw-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.hw-pale-yellow,.hw-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.hw-pale-blue,.hw-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.hw-text-amber,.hw-hover-text-amber:hover{color:#ffc107!important}
.hw-text-aqua,.hw-hover-text-aqua:hover{color:#00ffff!important}
.hw-text-blue,.hw-hover-text-blue:hover{color:#2196F3!important}
.hw-text-light-blue,.hw-hover-text-light-blue:hover{color:#87CEEB!important}
.hw-text-brown,.hw-hover-text-brown:hover{color:#795548!important}
.hw-text-cyan,.hw-hover-text-cyan:hover{color:#00bcd4!important}
.hw-text-blue-grey,.hw-hover-text-blue-grey:hover,.hw-text-blue-gray,.hw-hover-text-blue-gray:hover{color:#607d8b!important}
.hw-text-green,.hw-hover-text-green:hover{color:#4CAF50!important}
.hw-text-light-green,.hw-hover-text-light-green:hover{color:#8bc34a!important}
.hw-text-indigo,.hw-hover-text-indigo:hover{color:#3f51b5!important}
.hw-text-khaki,.hw-hover-text-khaki:hover{color:#b4aa50!important}
.hw-text-lime,.hw-hover-text-lime:hover{color:#cddc39!important}
.hw-text-orange,.hw-hover-text-orange:hover{color:#ff9800!important}
.hw-text-deep-orange,.hw-hover-text-deep-orange:hover{color:#ff5722!important}
.hw-text-pink,.hw-hover-text-pink:hover{color:#e91e63!important}
.hw-text-purple,.hw-hover-text-purple:hover{color:#9c27b0!important}
.hw-text-deep-purple,.hw-hover-text-deep-purple:hover{color:#673ab7!important}
.hw-text-red,.hw-hover-text-red:hover{color:#f44336!important}
.hw-text-sand,.hw-hover-text-sand:hover{color:#fdf5e6!important}
.hw-text-teal,.hw-hover-text-teal:hover{color:#009688!important}
.hw-text-yellow,.hw-hover-text-yellow:hover{color:#d2be0e!important}
.hw-text-white,.hw-hover-text-white:hover{color:#fff!important}
.hw-text-black,.hw-hover-text-black:hover{color:#000!important}
.hw-text-grey,.hw-hover-text-grey:hover,.hw-text-gray,.hw-hover-text-gray:hover{color:#757575!important}
.hw-text-light-grey,.hw-hover-text-light-grey:hover,.hw-text-light-gray,.hw-hover-text-light-gray:hover{color:#f1f1f1!important}
.hw-text-dark-grey,.hw-hover-text-dark-grey:hover,.hw-text-dark-gray,.hw-hover-text-dark-gray:hover{color:#3a3a3a!important}
.hw-border-amber,.hw-hover-border-amber:hover{border-color:#ffc107!important}
.hw-border-aqua,.hw-hover-border-aqua:hover{border-color:#00ffff!important}
.hw-border-blue,.hw-hover-border-blue:hover{border-color:#2196F3!important}
.hw-border-light-blue,.hw-hover-border-light-blue:hover{border-color:#87CEEB!important}
.hw-border-brown,.hw-hover-border-brown:hover{border-color:#795548!important}
.hw-border-cyan,.hw-hover-border-cyan:hover{border-color:#00bcd4!important}
.hw-border-blue-grey,.hw-hover-border-blue-grey:hover,.hw-border-blue-gray,.hw-hover-border-blue-gray:hover{border-color:#607d8b!important}
.hw-border-green,.hw-hover-border-green:hover{border-color:#4CAF50!important}
.hw-border-light-green,.hw-hover-border-light-green:hover{border-color:#8bc34a!important}
.hw-border-indigo,.hw-hover-border-indigo:hover{border-color:#3f51b5!important}
.hw-border-khaki,.hw-hover-border-khaki:hover{border-color:#f0e68c!important}
.hw-border-lime,.hw-hover-border-lime:hover{border-color:#cddc39!important}
.hw-border-orange,.hw-hover-border-orange:hover{border-color:#ff9800!important}
.hw-border-deep-orange,.hw-hover-border-deep-orange:hover{border-color:#ff5722!important}
.hw-border-pink,.hw-hover-border-pink:hover{border-color:#e91e63!important}
.hw-border-purple,.hw-hover-border-purple:hover{border-color:#9c27b0!important}
.hw-border-deep-purple,.hw-hover-border-deep-purple:hover{border-color:#673ab7!important}
.hw-border-red,.hw-hover-border-red:hover{border-color:#f44336!important}
.hw-border-sand,.hw-hover-border-sand:hover{border-color:#fdf5e6!important}
.hw-border-teal,.hw-hover-border-teal:hover{border-color:#009688!important}
.hw-border-yellow,.hw-hover-border-yellow:hover{border-color:#ffeb3b!important}
.hw-border-white,.hw-hover-border-white:hover{border-color:#fff!important}
.hw-border-black,.hw-hover-border-black:hover{border-color:#000!important}
.hw-border-grey,.hw-hover-border-grey:hover,.hw-border-gray,.hw-hover-border-gray:hover{border-color:#9e9e9e!important}
.hw-border-light-grey,.hw-hover-border-light-grey:hover,.hw-border-light-gray,.hw-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.hw-border-dark-grey,.hw-hover-border-dark-grey:hover,.hw-border-dark-gray,.hw-hover-border-dark-gray:hover{border-color:#616161!important}
.hw-border-pale-red,.hw-hover-border-pale-red:hover{border-color:#ffe7e7!important}.hw-border-pale-green,.hw-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.hw-border-pale-yellow,.hw-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.hw-border-pale-blue,.hw-hover-border-pale-blue:hover{border-color:#e7ffff!important}
